.contact-content{
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    height: 80vh;
    
}

.contact-content::after{
    content: "";
    background-image: url('../img/bloggin.jpg');
    height: 100%;
    width: 81%;
    opacity: 0.15;
    position: absolute;
    top: 10%;
    z-index: -1;
    /* background-color: aqua; */
    
}

.contact-form{
    
}