* {
    margin: 0%;
    padding: 0%;
}

.navigation {
    font-family: var(--font2);
    height: 74px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    font-size: 35px;
    display: flex;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 80px;
    font-size: 20px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    font-family: var(--font1);

}

.nav-left ul li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.673);
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.nav-left a span{
    text-decoration: none;
}



.content {
    height: 100%;
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.content::after{
    content: "";
    background-image: url('../img/bloggin.jpg');
    height: 42%;
    width: 81%;
    opacity: 0.15;
    position: absolute;
}

.content-left {
    font-family: var(--font1);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.2%;
    z-index: 1;
    /* align-items: center; */
}

.content-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-right img {
    width: 350px;
    height: 350px;
    border-radius: 37%;
    border: 1px solid black;
}

.home-articles {
    /* height: 455px; */
    /* background-color: aqua; */
    padding-top: 12px;
    position: relative;
}

.year-box{
    position: absolute;
    width: 234px;
    height: 255px;
    /* background-color: var(--main-bg-color); */
    right: 20%;
    top: 20px;
}

.year-box div{
    margin: 12px 0px;
    font-size: 20px;
}

.home-article {
    display: flex;
    margin: 25px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.132); */
}

.home-article-image {
    height: auto;
}

.home-article-content {
    align-self: center;
    padding: 25px;
    width: 300px;
}

.home-article-content a{
    text-decoration: none;
    color: black;
}

.footer {
    height: 50px;
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--main-bg-color);
}