@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Splash&display=swap');


:root {
    --main-bg-color: rgb(13, 118, 193);
    --font1: 'Roboto', sans-serif;
    --font2: 'Splash', cursive;
}

.font1 {
    font-family: var(--font1);
}

.font2 {
    font-family: var(--font2);
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.btn {
    padding: 5px 16px;
    border: 3px solid black;
    border-radius: 6px;
    cursor: pointer;
    border-width: 2px;
}

.btn:hover {
    background-color: var(--main-bg-color);
    color: white;
    transition: all 0.3s ease-in-out;
}

.form-input {
    padding: 3px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    font-family: var(--font1);
    width: 50%;
}

.form-box input,textarea{
    width: 52vw;
    padding: 0px 6px;
    margin: 7px 0px;
    border: 2px solid var(--main-bg-color);
    border-radius: 4px ;
}